<h1>Login</h1>
<%- include ('./partials/messages')%>

<form action="/users/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input
                type="email"
                name="email"
                id="email"
                placeholder="Email your email"
                required
        />
    </div>
    <div>
        <label for="password">Password</label>
        <input
                type="password"
                name="password"
                id="password"
                placeholder="Enter your password"
                required
        />
    </div>
    <button type="submit">login</button>
</form>
<p>Don't have account?<a href="/register">register</a></p>
